.app-header {
  display: flex;
  padding: 0 2rem 0 0;

  .header-logo {
    flex: 0 0 auto;

    .logo {
      display: block;
      height: 100%;
      width: 200px;
      padding: 1rem 2rem;
      background-image: url('/assets/img/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-origin: content-box;
    }
  }

  .header-menu {
    line-height: 64px;
    flex: 1 1 auto;
  }

  .header-actions {
    flex: 0 0 auto;

    .username {
      margin: 0.5rem;
    }
  }
}
