<nz-header class="app-header">
  <div class="header-logo">
    <a routerLink="/"><i class="logo"></i></a>
  </div>

  <div class="header-menu">
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzMatchRouter routerLink="/dashboard">Dashboard</li>
      <li nz-menu-item nzMatchRouter routerLink="/namespaces">Content</li>
    </ul>
  </div>

  <div class="header-actions">
    <a class="user-button" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      <span nz-icon nzType="user"></span>
      <span class="username">{{userName$ | async}}</span>
      <span nz-icon nzType="down"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item routerLink="/settings">Settings</li>
        <li nz-menu-item (click)="logout()">Logout</li>
        <li nz-menu-divider></li>
        <li nz-menu-item nzDisabled>About</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</nz-header>
