nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;

  .app-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
    height: 64px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

    .header-trigger {
      height: 64px;
      font-size: 20px;
      cursor: pointer;
      transition: all .3s, padding 0s;
    }

    .trigger:hover {
      color: #C99700;
    }
  }
}

@media (max-width: 767px) {
  .user-button {
    .username {
      display: none;
    }
  }
}
