<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <a routerLink="/">
        <img src="/assets/img/icon.svg" alt="logo">
        <h1>Golden Reports</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzMatchRouter><a routerLink="/dashboard">Dashboard</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="/namespaces">Content</a></li>
    </ul>
  </nz-header>
  <router-outlet></router-outlet>
</nz-layout>
