{
  "extends": "semantic-release-monorepo",
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": "next"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": ".pack ${nextRelease.version} $OUTPUT_DIRECTORY",
        "publishCmd": ".publish ${nextRelease.version} $OUTPUT_DIRECTORY"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["dist/*.nupkg"]
      }
    ]
  ]
}