{
  "repositoryUrl": "https://github.com/goldenreports/golden-reports.git",
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": "next"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "$WORKSPACE/.pack ${nextRelease.version} $WORKSPACE/dist $DOCKER_REGISTRY_URL",
        "publishCmd": "$WORKSPACE/.publish ${nextRelease.version} $WORKSPACE/dist"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["dist/*.nupkg", "dist/*.tar.gz"]
      }
    ]
  ]
}