{
  "repositoryUrl": "https://github.com/goldenreports/golden-reports.git",
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": "next"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./.pack ${nextRelease.version} $OUTPUT_DIRECTORY $DOCKER_REGISTRY_URL",
        "publishCmd": "./.publish ${nextRelease.version} $OUTPUT_DIRECTORY"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["dist/*.nupkg"]
      }
    ]
  ]
}