<a class="btn btn-sm" routerLink="./new">Add Data Source</a>

<ng-container *ngIf="vm$ | async as vm">
  <app-error-message *ngIf="vm.error" [error]="vm.error"></app-error-message>
  <clr-datagrid [clrDgLoading]="vm.loading">
    <clr-dg-column>Code</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column>Creation Date</clr-dg-column>
    <clr-dg-column>Modification Date</clr-dg-column>

    <clr-dg-row *ngFor="let dataSource of vm.dataSources">
      <clr-dg-cell><a routerLink="./{{dataSource.id}}">{{dataSource.code}}</a></clr-dg-cell>
      <clr-dg-cell>{{dataSource.name}}</clr-dg-cell>
      <clr-dg-cell>{{dataSource.description}}</clr-dg-cell>
      <clr-dg-cell>{{dataSource.creationDate | date: 'short'}}</clr-dg-cell>
      <clr-dg-cell>{{dataSource.modificationDate | date: 'short'}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{vm.dataSources.length}} data source<span
      *ngIf="vm.dataSources.length === 0 || vm.dataSources.length > 1">s</span></clr-dg-footer>
  </clr-datagrid>
</ng-container>
