<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./namespaces">
    <cds-icon shape="namespace" clrVerticalNavIcon></cds-icon>
    Child Namespaces
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./data-sources">
    <cds-icon shape="data-cluster" clrVerticalNavIcon></cds-icon>
    Data Sources
  </a>
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./data-contexts">
    <cds-icon shape="internet-of-things" clrVerticalNavIcon></cds-icon>
    Data Contexts
  </a>
<!--  <a clrVerticalNavLink routerLinkActive="active" routerLink="./assets">-->
<!--    <cds-icon shape="objects" clrVerticalNavIcon></cds-icon>-->
<!--    Assets-->
<!--  </a>-->
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./reports">
    <cds-icon shape="file-group" clrVerticalNavIcon></cds-icon>
    Reports
  </a>
<!--  <a clrVerticalNavLink routerLinkActive="active" routerLink="./permissions">-->
<!--    <cds-icon shape="shield" clrVerticalNavIcon></cds-icon>-->
<!--    Permissions-->
<!--  </a>-->
  <a clrVerticalNavLink routerLinkActive="active" routerLink="./metadata">
    <cds-icon shape="file-settings" clrVerticalNavIcon></cds-icon>
    Metadata
  </a>
</clr-vertical-nav>
