<app-error-message [error]="error"></app-error-message>
<form nz-form [formGroup]="namespaceForm" stateFormBinding="dataSource"
      (ngSubmit)="saveNamespace(namespaceForm.value)">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Name is required">
      <input nz-input id="code" formControlName="name"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Description</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="name" formControlName="description"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [nzLoading]="loading" [disabled]="!canSave">Save</button>
    </nz-form-control>
  </nz-form-item>
</form>
