<!--<h1>Pinned namespaces</h1>-->

<!--<table class="table table-noborder">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th class="left">Namespace</th>-->
<!--    <th class="left">Shortcuts</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td class="left"><a routerLink="/namespaces/1">Namespace1.Namespace2.Namespace3</a></td>-->
<!--    <td class="left">-->
<!--      <clr-tooltip>-->
<!--        <button clrTooltipTrigger class="btn btn-primary"><cds-icon shape="data-cluster"></cds-icon></button>-->
<!--        <clr-tooltip-content clrPosition="bottom-right" *clrIfOpen>-->
<!--          <span>Data Sources</span>-->
<!--        </clr-tooltip-content>-->
<!--      </clr-tooltip>-->
<!--      <clr-tooltip>-->
<!--        <button clrTooltipTrigger class="btn btn-primary"><cds-icon shape="internet-of-things"></cds-icon></button>-->
<!--        <clr-tooltip-content clrPosition="bottom-right" *clrIfOpen>-->
<!--          <span>Data Contexts</span>-->
<!--        </clr-tooltip-content>-->
<!--      </clr-tooltip>-->
<!--      <clr-tooltip>-->
<!--        <button clrTooltipTrigger class="btn btn-primary"><cds-icon shape="objects"></cds-icon></button>-->
<!--        <clr-tooltip-content clrPosition="bottom-right" *clrIfOpen>-->
<!--          <span>Assets</span>-->
<!--        </clr-tooltip-content>-->
<!--      </clr-tooltip>-->
<!--      <clr-tooltip>-->
<!--        <button clrTooltipTrigger class="btn btn-primary"><cds-icon shape="file-group"></cds-icon></button>-->
<!--        <clr-tooltip-content clrPosition="bottom-right" *clrIfOpen>-->
<!--          <span>Reports</span>-->
<!--        </clr-tooltip-content>-->
<!--      </clr-tooltip>-->
<!--      <clr-tooltip>-->
<!--        <button clrTooltipTrigger class="btn btn-primary"><cds-icon shape="shield"></cds-icon></button>-->
<!--        <clr-tooltip-content clrPosition="bottom-right" *clrIfOpen>-->
<!--          <span>Permissions</span>-->
<!--        </clr-tooltip-content>-->
<!--      </clr-tooltip>-->
<!--      <clr-dropdown>-->
<!--        <button class="btn btn-outline-primary" clrDropdownTrigger>-->
<!--          New-->
<!--          <cds-icon shape="angle" direction="down"></cds-icon>-->
<!--        </button>-->
<!--        <clr-dropdown-menu *clrIfOpen>-->
<!--          <button clrDropdownItem>Namespace</button>-->
<!--          <button clrDropdownItem>Data Source</button>-->
<!--          <button clrDropdownItem>Data Context</button>-->
<!--          <button clrDropdownItem>Asset</button>-->
<!--          <button clrDropdownItem>Report</button>-->
<!--          <button clrDropdownItem>Permission</button>-->
<!--        </clr-dropdown-menu>-->
<!--      </clr-dropdown>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
