<clr-modal [clrModalOpen]="true" [clrModalClosable]="false">
  <h3 class="modal-title">New Namespace</h3>
  <div class="modal-body">
    <div *ngIf="error" class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
          </div>
          <span class="alert-text">
              {{error.errorMessage}}
          </span>
        </div>
      </div>
    </div>
    <form clrForm [formGroup]="namespaceForm">
      <clr-input-container>
        <label>Name</label>
        <input clrInput type="text" name="example" formControlName="name"/>
        <clr-control-helper>Ex.: GoldenReports</clr-control-helper>
        <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Description</label>
        <input clrInput type="text" name="example" formControlName="description"/>
        <clr-control-helper>Ex.: Golden Reports root namespace</clr-control-helper>
        <clr-control-error>Error message that appears after focus is lost and control is invalid</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeModal()" [disabled]="saving">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="beginSave()" [clrLoading]="saving" [disabled]="!canSave">
      Create
    </button>
  </div>
</clr-modal>
