:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  form {
    height: 100%;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;

    .clr-form-control {
      margin: 0 0 1rem;
    }

    &.with-error {
      grid-template-rows: auto auto minmax(0, 1fr) auto;

      .clr-form-control {
        margin: 1rem 0;
      }
    }

    .schema-editor {
      height: 100%;
      overflow: auto;
      display: grid;
    }

    .actions {
      padding-top: 0.5rem;
    }
  }

  //clr-tabs {
  //  height: 100%;
  //  display: grid;
  //  grid-template-rows: auto minmax(0, 1fr);
  //  overflow: hidden;
  //
  //
  //}
  //
  //.actions {
  //  margin-top: 1rem;
  //}
}
