<ng-container *ngIf="vm$ | async as vm">
  <app-error-message [error]="vm.error"></app-error-message>
  <nz-table [nzData]="vm.dataSources" [nzLoading]="vm.loading" nzSize="middle">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Creation Date</th>
      <th>Created By</th>
      <th>Modification Date</th>
      <th>Modified By</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataSource of vm.dataSources">
      <td><a routerLink="./{{dataSource.id}}">{{dataSource.code}}</a></td>
      <td>{{dataSource.name}}</td>
      <td>{{dataSource.description}}</td>
      <td>{{dataSource.creationDate | date: 'short'}}</td>
      <td></td>
      <td>{{dataSource.modificationDate | date: 'short'}}</td>
      <td></td>
      <td>
        <a>Delete</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>
