<ng-container *ngIf="vm$ | async as vm">
  <app-error-message [error]="vm.error"></app-error-message>
  <a nz-button nzType="primary" routerLink="./new">Add New Data Context</a>
  <nz-table [nzData]="vm.dataContexts" [nzLoading]="vm.loading" nzSize="middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Modified</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataContext of vm.dataContexts">
        <td>
          <a routerLink="./{{ dataContext.id }}">{{ dataContext.name }}</a>
        </td>
        <td>
          {{ dataContext.creationDate | date : 'short' }} by
          {{ dataContext.createdBy }}
        </td>
        <td>
          {{ dataContext.modificationDate | date : 'short' }} by
          {{ dataContext.modifiedBy }}
        </td>
        <td>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
