:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.app-content {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: 100%;
}

nz-content {
  margin: 24px;
  display: flex;
  flex-direction: column;

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    height: 100%;
  }
}

