<ng-container *ngIf="vm$ | async as vm">
  <app-error-message *ngIf="vm.error" [error]="vm.error"></app-error-message>
  <form clrForm [formGroup]="namespaceMetadataForm" stateFormBinding="namespaceMetadata">
    <clr-input-container>
      <label>Name</label>
      <input clrInput type="text" name="example" formControlName="name"/>
      <clr-control-error *clrIfError="'required'">Name is required</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label>Description</label>
      <input clrInput type="text" name="example" formControlName="description"/>
    </clr-input-container>
  </form>
  <div class="actions">
    <button class="btn btn-primary"
            [disabled]="!vm.canSave"
            [clrLoading]="vm.saving"
            (click)="saveChanges()">Save</button>
  </div>
</ng-container>
