.loading-splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11111F;

  img  {
    width: 20%;
    min-width: 200px;
    max-width: 350px;
  }
}

.page-layout {
  height: 100%;

  .page-content-layout {
    padding: 2rem;

    .page-content {
      background: #fff;
      padding: 2rem;
      height: 100%;
    }
  }
}
